body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
#container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mycanvas {
  cursor: crosshair;
  width: 100%;
  height: 100%;
  display: block;
}
